/api/nbproject/private/
/painel/nbproject/private/
/api/rc
/api/app.log
/simulador/nbproject/private/
/politica/nbproject/private/
/inscricoes/nbproject/private/
/wp-plugin/smartchurch/nbproject/private/
/mural/nbproject/private/
*conf.cfg.php
