<ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a ui-sref='{{back}}'>Buscar</a></li>
    <li class="breadcrumb-item active">{{opTitle}}</li>
</ol>

<h1 class="page-header">&nbsp;</h1>

<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title">{{opTitle}} {{objForm}}</h4>
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <form id="dataFrm" method="POST" autocomplete="off">
            <legend>Dados Básicos</legend>
            <div class="form-group row m-b-15">
                <label class="col-form-label col-md-2">Título *</label>
                <div class="col-md-10">
                    <input class="form-control m-b-5" type="text" placeholder="Título" ng-model="dataFrm.data.titulo.value"
                            ng-class="{'is-invalid': !dataFrm.data.titulo.valid}"
                            name="validation[titulo]" data-validation="[NOTEMPTY]"
                            data-validation-message="O título não pode ser vazio" />
                </div>
            </div>
            <div class="form-group row m-b-15">
                <label class="col-form-label col-md-2">Chave</label>
                <div class="col-md-10">
                    <div class="input-group">
                        <input class="form-control m-b-5" type="text" placeholder="Chave" ng-model="dataFrm.data.chave.value"
                                ng-class="{'is-invalid': !dataFrm.data.chave.valid}" />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-default" 
                                    tooltips tooltip-template="Gerar" tooltip-side="top"
                                    ng-click="generateChave()">
                                <i class="fas fa-cog"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group row m-b-15">
                <label class="col-form-label col-md-2">Destinatários</label>
                <div class="col-md-10">
                    <div ng-repeat="d in dataFrm.data.destinatarios_opts.value" ng-show="d.opcoes.length > 0">
                        <h5 style="margin-top: 20px;">
                            {{d.title}}
                        </h5>
                        <div class="row">
                            <div class="col-md-4" ng-repeat="opt in d.opcoes">
                                <div class="checkbox checkbox-css m-b-20" >
                                    <input type="checkbox" id="checkbox_{{opt.label}}" ng-model="opt.checked" 
                                           ng-change="checkBlock(opt)" /> 
                                    <label for="checkbox_{{opt.label}}" class="checkbox">
                                        {{opt.title}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row m-b-15">
                <label class="col-form-label col-md-2">Imagem</label>
                <div class="col-md-10">
                    <input type="file" imgread="dataFrm.data.arquivo.value" imgread-width="1080" imgread-height="1350" imgread-size="2MB"
                            ng-class="{'is-invalid': !dataFrm.data.arquivo.valid}" />
                    
                    <small ng-show="dataFrm.data.id.value != ''">Para alterar envia outra imagem</small>
                    <small >1080x1350 pixels e até 2MB</small>
                    
                    <div ng-if="dataFrm.data.img_url.value != ''" class="margin-top-30">
                        <div class="text-center m-b-20">
                            <button class="btn btn-danger" ng-click="removeImg()">Remover Imagem</button>
                        </div>
                        <img ng-src="{{dataFrm.data.img_url.value}}" class="img-fluid" />
                    </div>
                </div>
            </div>
            <div class="form-group row m-b-15">
                <label class="col-form-label col-md-2">Conteúdo</label>
                <div class="col-md-10">
                    <summernote ng-model="dataFrm.data.conteudo.value" config="summerOpt" lang="pt-BR"></summernote>
                </div>
            </div>
            <div class="form-group row m-b-15">
                <label class="col-form-label col-md-2">Vídeo (URL)</label>
                <div class="col-md-10">
                    <input class="form-control m-b-5" type="text" placeholder="Vídeo" ng-model="dataFrm.data.video.value"
                            ng-class="{'is-invalid': !dataFrm.data.video.valid}" />
                </div>
            </div>
            <div class="form-group row m-b-15">
                <label class="col-form-label col-md-2">Áudio (Incorporação)</label>
                <div class="col-md-10">
                    <textarea class="form-control m-b-5" rows="8" placeholder="Código de Incorporação do Soudcloud" ng-model="dataFrm.data.audio.value"
                              ng-class="{'is-invalid': !dataFrm.data.audio.valid}" ></textarea>
                </div>
            </div>
            
            <div class="form-actions">
                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <button type="submit" class="btn width-150 btn-primary">Salvar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>