<script type="text/ng-template" id="site_data.html">
    <legend>Site & Redes Sociais</legend>
    <div class="form-group row m-b-15">
        <label class="col-form-label col-md-2">Site</label>
        <div class="col-md-8">
            <input class="form-control m-b-5" type="text" placeholder="Site" ng-model="ctrl.dataFrm.data.site.value"
                    ng-disabled="ctrl.readonly" ng-class="{'is-invalid': !ctrl.dataFrm.data.site.valid}" />
        </div>
    </div>
    <div class="form-group row m-b-15">
        <label class="col-form-label col-md-2">Facebook</label>
        <div class="col-md-8">
            <input class="form-control m-b-5" type="text" placeholder="Facebook" ng-model="ctrl.dataFrm.data.facebook.value"
                    ng-disabled="ctrl.readonly" ng-class="{'is-invalid': !ctrl.dataFrm.data.facebook.valid}" />
        </div>
    </div>
    <div class="form-group row m-b-15">
        <label class="col-form-label col-md-2">Instagram</label>
        <div class="col-md-8">
            <input class="form-control m-b-5" type="text" placeholder="Instagram" ng-model="ctrl.dataFrm.data.instagram.value"
                    ng-disabled="ctrl.readonly" ng-class="{'is-invalid': !ctrl.dataFrm.data.instagram.valid}" />
        </div>
    </div>
    <div class="form-group row m-b-15">
        <label class="col-form-label col-md-2">YouTube</label>
        <div class="col-md-8">
            <input class="form-control m-b-5" type="text" placeholder="YouTube" ng-model="ctrl.dataFrm.data.youtube.value"
                    ng-disabled="ctrl.readonly" ng-class="{'is-invalid': !ctrl.dataFrm.data.youtube.valid}" />
        </div>
    </div>
    <div class="form-group row m-b-15">
        <label class="col-form-label col-md-2">Vimeo</label>
        <div class="col-md-8">
            <input class="form-control m-b-5" type="text" placeholder="Vimeo" ng-model="ctrl.dataFrm.data.vimeo.value"
                    ng-disabled="ctrl.readonly" ng-class="{'is-invalid': !ctrl.dataFrm.data.vimeo.valid}" />
        </div>
    </div>
</script>