<ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a ui-sref='{{back}}'>Buscar</a></li>
    <li class="breadcrumb-item active">{{opTitle}}</li>
</ol>

<h1 class="page-header">&nbsp;</h1>

<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title">{{opTitle}} {{objForm}}</h4>
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <form id="dataFrm" method="POST" autocomplete="off">
            <legend>Dados Básicos</legend>
            <div class="form-group row m-b-15">
                <label class="col-form-label col-md-2">Nome *</label>
                <div class="col-md-10">
                    <input class="form-control m-b-5" type="text" id="nome" placeholder="Nome" ng-model="dataFrm.data.nome.value"
                        ng-class="{'is-invalid': !dataFrm.data.nome.valid}" 
                        ng-disabled="dataFrm.data.id.value != ''"
                        name="validation[nome]" data-validation="[NOTEMPTY]"
                        data-validation-message="O nome não pode ser vazio" />
                </div>
            </div>
            <div class="form-group row m-b-15">
                <label class="col-form-label col-md-2">E-mail *</label>
                <div class="col-md-10">
                    <input class="form-control m-b-5" type="email" placeholder="E-mail" ng-model="dataFrm.data.email.value"
                            ng-class="{'is-invalid': !dataFrm.data.email.valid}" ng-disabled="dataFrm.data.pessoa.value == ''"
                            name="validation[email]" data-validation="[NOTEMPTY,EMAIL]"
                            data-validation-message="O e-mail não pode ser vazio e deve ser válido" />
                </div>
            </div>
            <div class="form-group row m-b-15" >
                <label class="col-form-label col-md-2">Telefone</label>
                <div class="col-md-4">
                    <input class="form-control m-b-5" type="text" ng-model="dataFrm.data.telefone.value"
                            ui-mask="(99) 9999-9999" model-view-value="true" ng-disabled="dataFrm.data.pessoa.value == ''"
                            ng-class="{'is-invalid': !dataFrm.data.telefone.valid}" />
                </div>
                <label class="col-form-label col-md-2">Celular</label>
                <div class="col-md-4">
                    <input class="form-control m-b-5" type="text" ng-model="dataFrm.data.celular.value"
                            ui-mask="(99) 9 9999-9999" model-view-value="true" ng-disabled="dataFrm.data.pessoa.value == ''"
                            ng-class="{'is-invalid': !dataFrm.data.celular.valid}" />
                </div>
            </div>
            
            <legend>Dados do Mandato</legend>
            <div class="form-group row m-b-15" >
                <label class="col-form-label col-md-2">Data de Início</label>
                <div class="col-md-4">
                    <input class="form-control m-b-5 datepicker" type="text" ng-model="dataFrm.data.inicio.value"
                            ui-mask="99/99/9999" model-view-value="true" ng-disabled="dataFrm.data.pessoa.value == ''"
                            ng-class="{'is-invalid': !dataFrm.data.inicio.valid}" />
                </div>
                <label class="col-form-label col-md-2">Data de Término</label>
                <div class="col-md-4">
                    <input class="form-control m-b-5 datepicker" type="text" ng-model="dataFrm.data.fim.value"
                            ui-mask="99/99/9999" model-view-value="true" ng-disabled="dataFrm.data.pessoa.value == ''"
                            ng-class="{'is-invalid': !dataFrm.data.fim.valid}" />
                </div>
            </div>
            <div class="form-group row m-b-15" >
                <label class="col-form-label col-md-2">Disponibilidade *</label>
                <div class="col-md-4">
                    <select class="form-control" ng-model="dataFrm.data.disponibilidade.value"  
                            ng-disabled="dataFrm.data.pessoa.value == ''"
                            ng-class="{'is-invalid': !dataFrm.data.disponibilidade.valid}"
                            name="validation[disponibilidade]" data-validation="[NOTEMPTY]"
                            data-validation-message="A disponibilidade não pode ser vazia" >
                        <option value="" ></option>
                        <option value="{{i.value}}" ng-repeat="i in listDisponibilidades">{{i.label}}</option>
                    </select>
                </div>
            </div>
            
            <div class="form-actions">
                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <button type="submit" class="btn width-150 btn-primary">Salvar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>