<ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a ui-sref='{{back}}'>Buscar</a></li>
    <li class="breadcrumb-item active">{{opTitle}}</li>
</ol>

<h1 class="page-header">&nbsp;</h1>

<div class="panel panel-inverse">
    <div class="panel-heading">
        <h4 class="panel-title">{{opTitle}} {{objForm}}</h4>
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
        </div>
    </div>
    <div class="panel-body">
        <form id="dataFrm" method="POST" autocomplete="off">
            
            <agenda-data 
                    model="dataFrm"
                    tipos="listTiposResponsaveis"
                    responsaveis="listResponsaveis"></agenda-data>
                        
            <endereco-data 
                    model="dataFrm" 
                    ufs="listUFs"
                    cidades="listCidades"></endereco-data>
            
            <site-data 
                    model="dataFrm"></site-data>
                        
            <legend>Tags</legend>
            <div class="form-group row m-b-15">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-4 m-b-10" ng-repeat="t in dataFrm.data.tags.value">
                            <div class="checkbox checkbox-css">
                                <input type="checkbox" id="checkbox_tag_{{t.id}}" ng-model="t.checked" /> 
                                <label for="checkbox_tag_{{t.id}}" class="checkbox">
                                    <span class="tag" style="background: {{t.cor}}" >
                                        <span class="tag-icon" style="color: {{t.cor}}"><i class="fas fa-tag"></i></span>
                                        {{t.tag}}
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-actions">
                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <button type="submit" class="btn width-150 btn-primary">Salvar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
