<script type="text/ng-template" id="secretario_data.html">
    <legend>Dados Básicos</legend>
    <div class="form-group row m-b-15">
        <label class="col-form-label col-md-2">Nome *</label>
        <div class="col-md-10">
            <input id="nome" class="form-control m-b-5" type="text" placeholder="Nome" ng-model="ctrl.dataFrm.data.nome.value"
                ng-class="{'is-invalid': !ctrl.dataFrm.data.nome.valid}"
                ng-disabled="ctrl.dataFrm.data.id.value != ''"
                name="validation[nome]" data-validation="[NOTEMPTY]"
                data-validation-message="O nome não pode ser vazio" />
        </div>
    </div>
    <div class="form-group row m-b-15" >
        <label class="col-form-label col-md-2">Perfil *</label>
        <div class="col-md-10">
            <select class="form-control" ng-model="ctrl.dataFrm.data.perfil.value"
                    ng-class="{'is-invalid': !ctrl.dataFrm.data.perfil.valid}"
                    ng-disabled="ctrl.dataFrm.data.pessoa.value == ''"
                    name="validation[perfil]" data-validation="[NOTEMPTY]"
                    data-validation-message="O perfil não pode ser vazio" >
                <option value="" >Perfil</option>
                <option value="{{i.id}}" ng-repeat="i in ctrl.listPerfis">{{i.nome}}</option>
            </select>
        </div>
    </div>

    <legend>Dados do Mandato</legend>
    <div class="form-group row m-b-15">
        <label class="col-form-label col-md-2">Data de Admissão</label>
        <div class="col-md-4">
            <input class="form-control m-b-5 datepicker" type="text" ng-model="ctrl.dataFrm.data.data_admissao.value"
                    ui-mask="99/99/9999" model-view-value="true"
                    ng-class="{'is-invalid': !ctrl.dataFrm.data.data_admissao.valid}" />
        </div>
        <label class="col-form-label col-md-2">Data de Demissão</label>
        <div class="col-md-4">
            <input class="form-control m-b-5 datepicker" type="text" ng-model="ctrl.dataFrm.data.data_demissao.value"
                    ui-mask="99/99/9999" model-view-value="true"
                    ng-class="{'is-invalid': !ctrl.dataFrm.data.data_demissao.valid}" />
        </div>
    </div>
</script>